@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <title>OUR MISSION IS LAUGH!</title>
</head>

<body>
    <hgroup>
        <h1>@ViewData["Title"]</h1>

        <h2>About us and our Values</h2>
    </hgroup>


    <p>
        We are a company that search make funny for the people, that´s clearly what we<br />
        think interesting and productiv. so thank you so much for supporting us !
    </p>
    <p>
        It’s true: laughter is strong medicine. It draws people together in ways that trigger healthy physical and emotional changes in the body. Laughter strengthens your immune system, boosts mood, diminishes pain, and protects you from the damaging effects of stress. Nothing works faster or more dependably to bring your mind and body back into balance than a good laugh. Humor lightens your burdens, inspires hope, connects you to others, and keeps you grounded, focused, and alert. It also helps you release anger and forgive sooner.
        With so much power to heal and renew, the ability to laugh easily and frequently is a tremendous resource for surmounting problems, enhancing your relationships, and supporting both physical and emotional health. Best of all, this priceless medicine is fun, free, and easy to use.
        As children, we used to laugh hundreds of times a day, but as adults, life tends to be more serious and laughter more infrequent. But by seeking out more opportunities for humor and laughter, you can improve your emotional health, strengthen your relationships, find greater happiness—and even add years to your life.
    </p>
    <h3>READ CAREFULLY OUR JOKES AND SHARE WITH YOUR FRIENDS</h3>
    <p>LAUGH is the best medicament ! :)</p>
    

</body>
